# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Ignore cache directories
f1_cache
nba_cache

#Ignore JSON files
src/*.json

nba_player_stats_v2.json
nba_team_stats_v2.json
public/data/espn_NBA_player_stats.json
public/data/espn_NBA_team_stats.json
teamstats.json
teamstats_full.json
src/driver_standings_2025.json
